
.taphead{
    font-size: 20px;
    color: rgb(232, 166, 144);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-image: url(/img/BackgroundWebsite.jpg) no-repeat center center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}

body::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: url(/img/BackgroundWebsite.jpg) no-repeat center center;
    background-size: cover;
    filter: blur(8px);
}

.container {
    margin: 15px;
    border-radius: 9px;
    padding: 20px;
    text-align: center;
    border:solid rgb(188, 185, 185);
    z-index: 1;
}

form {
    display: flex;
    flex-direction: column;
    max-height: 90%;
    height: 80%;
    padding-right: 10px;
}



h2 {
    font-size: 2rem;
    margin-bottom: 19px;
    color: white;
}

.input-space {
    position: relative;
    border-bottom: 3px solid white;
    margin: 14px 0;
    width: 100%;
    margin-bottom: 15px;
}

.span-lable {
    color: #f0f0f0;
    font-style: italic;
    font-size: 20px;
}

.input-space input {
    width: 100%;
    height: 41px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background: #100000;
    color: #ffffff;
    font-weight: 600;
    border: none;
    padding: 11px 19px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
    border: 2px solid transparent;
    transition: 0.3s ease;
}

button:hover {
    color: #ffffff;
    border-color: #fff;
    background: rgb(32, 30, 30);
    border-radius: 10px;
}

#form-register {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input::placeholder {
    color: white;
    opacity: 0.7;
}
