<body>
    <div class="container">
        <form action="#" id="form-register">
            <h2>Register</h2>
            <h2>Account user</h2>
            <div class="input-space">
                <input type="text" required placeholder="Full Name">
                <span class="span-lable">Full Name</span>
            </div>
            
            <div class="input-space">
                <input type="datetime-local" required   >
                <span class="span-lable">Date of birth</span>
            </div>

            <div class="input-space">
                <input type="text" required placeholder="Phone number">
                <span class="span-lable">Gmail</span>
            </div>

            <div class="input-space">
                <input type="text" required placeholder="Username">
                <span class="span-lable">Username</span>
            </div>

            <div class="input-space">
                <input type="password" required placeholder="password">
                <span class="span-lable">Password</span>
            </div>


            <div class="input-space">
                <input type="password" required placeholder="Confirm password">
                <span class="span-lable">Confirm password</span>
            </div>
            <br>
            <button type="submit">Register</button>
        </form>
    </div>
</body>