<body>
    <div class="container">
        <div>
            <tabset>
                <tab [active]="true">
                    <ng-template tabHeading>
                        <span class="taphead">user</span>
                    </ng-template>
                    <form [formGroup]="UserForm">
                        <div class="input-space">
                            <input type="text" formControlName="FullName" required placeholder="Full Name">
                            <span class="span-lable">Full Name</span>
                        </div>

                        <div class="input-space">
                            <input type="date" formControlName="DateOfBirth"  required>
                            <span class="span-lable">Date of birth</span>
                        </div>

                        <div class="input-space">
                            <input type="text" required formControlName="Phone" placeholder="Phone number">
                            <span class="span-lable">Phone</span>
                        </div>

                        <div class="input-space">
                            <input type="text" required formControlName="Gmail" placeholder="Gmail">
                            <span class="span-lable">Gmail</span>
                        </div>
                        <div class="input-space">
                            <input type="text" required formControlName="UserName" placeholder="Username">
                            <span class="span-lable">Username</span>
                        </div>

                        <div class="input-space">
                            <input type="password" required formControlName="Password" placeholder="password">
                            <span class="span-lable">Password</span>
                        </div>


                        <div class="input-space">
                            <input type="password" required (invalid)="disabled" (input)="checkDisabled($event)" (click)="AddUser()" placeholder="Confirm password">
                            <span class="span-lable">Confirm password</span>
                        </div>
                        <button [disabled]="UserForm.invalid" type="submit">Register</button>
                    </form>
                </tab>


                <tab >
                    <ng-template tabHeading>
                        <span class="taphead">owner</span>
                    </ng-template>
                    <form action="#" id="form-register">
                        <!-- حقل Full Name يمتد عبر العمودين -->
                        <div class="input-space">
                            <input type="text" required placeholder="Full Name" />
                            <span class="span-lable">Full Name</span>
                        </div>
                        <!-- تقسيم المدخلات إلى عمودين -->
                                <div class="input-space input-info">
                                    <input type="date" required />
                                    <span class="span-lable"> Date of birth</span>
                                </div>
                                <div class="input-space input-info">
                                    <input type="text" required placeholder="Phone number" />
                                    <span class="span-lable">Phone number</span>
                                </div>
                                <div class="input-space input-info">
                                    <input type="text" required placeholder="Site" />
                                    <span class="span-lable">Site</span>
                                </div>
                                <div class="input-space">
                                    <input type="file" class="form-control" required />
                                    <span class="span-lable">Img personal identity</span>
                                </div>
                                <div class="input-space input-info">
                                    <input type="file" class="form-control" required />
                                    <span class="span-lable">Img work identity</span>
                                </div>
                                <div class="input-space input-info">
                                    <input type="file" class="form-control" required />
                                    <span class="span-lable">CV</span>
                                </div>
                                <div class="input-space input-info">
                                    <input type="email" required placeholder="Gmail" />
                                    <span class="span-lable">Gmail</span>
                                </div>
                                <div class="input-space input-info">
                                    <input type="text" required placeholder="Username" />
                                    <span class="span-lable">Username</span>
                                </div>
                                <div class="input-space input-info">
                                    <input type="password" required placeholder="Password" />
                                    <span class="span-lable">Password</span>
                                </div>
                                <div class="input-space input-info">
                                    <input type="password" required placeholder="Confirm password" />
                                    <span class="span-lable">Confirm password</span>
                                </div>
                        <br />
                        <button type="submit">Register</button>
                    </form>
                </tab>
            </tabset>
        </div>
    </div>
</body>