<div class="body-create">
  <div class="con">
    <form action="#" class="form-create" id="form-info">
      <h2 class="title">Add a new Sector</h2>

      <div class="input-space-create input-info-create">
        <input type="text" class="wid-bor" required placeholder="Type sector" />
        <span class="span-lable-create">Type sector</span>
      </div>

      <div class="input-space-create input-info-create">
        <input type="text" class="wid-bor" required placeholder="Description" />
        <span class="span-lable-create">Description</span>
      </div>

      <div class="input-space-create input-info-create">
        <input type="file" class="wid-bor" required placeholder="Description" />
        <span class="span-lable-create">Background Image</span>
      </div>

      <br />
      <button class="button-create" type="submit">
        Create <i class="fas fa-plus"></i>
      </button>
    </form>
  </div>
</div>
