<div class="body-create">
    <div class="con">
        <form action="#" class="form-create" id="form-info">
            <h2 class="title">Add a new service</h2>


            <div class="input-space-create" id="name">
                <select name="" class="wid-bor select-item" required>
                    <option value="" disabled selected>Choose</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="other wise">other wise</option>
                </select>
                <span class="span-lable-create">Sector</span>
            </div>

            <div class="input-space-create" id="name">
                <select name="" class="wid-bor select-item" required>
                    <option value="" disabled selected>Choose</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="other wise">other wise</option>
                </select>
                <span class="span-lable-create">Category Service</span>
            </div>

            <div class="input-space-create input-info-create">
                <input type="text" class="wid-bor" required placeholder="Description">
                <span class="span-lable-create">Description</span>
            </div>

            <div class="input-space-create input-info-create">
                <input type="text" class="wid-bor" required placeholder="Location">
                <span class="span-lable-create">Location</span>
            </div>

            <br>
            <button class="button-create" type="submit">
                Create <i class="fas fa-plus"></i>
            </button>
        </form>
    </div>
</div>