<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Profile Page</title>
  </head>
  <body>
    <div class="container text-align">
      <div class="profile-header">
        <h1 class="profile-name">
          <i class="fa fa-user" aria-hidden="true"></i> Username
        </h1>
      </div>
      <div class="profile-details">
        <h2>
          <i class="fa fa-info-circle" aria-hidden="true"></i> Personal
          Information
        </h2>
        <ul>
          <li><i class="fa fa-envelope"></i> Email: nouryaboesaa.com</li>
          <li><i class="fa fa-phone"></i> Phone: +123 456 7890</li>
          <li><i class="fa fa-map-marker"></i> Address: City, Country</li>
        </ul>
      </div>
      <button class="button">Edit Profile</button>
    </div>



    
  </body>
  <br>
  <br>
  <br>
  <br>

  <div class="container" style="color: white;" id="text-w">
    <div class="profile-header">
      <h1 class="profile-name">
        <i class="fa fa-user" aria-hidden="true"></i> Username
      </h1>
    </div>
    <div class="profile-details">
      <h2>
        <i class="fa fa-info-circle" aria-hidden="true"></i> Personal
        Information
      </h2>
      <ul>
        <li><i class="fa fa-envelope"></i> Email: nouryaboesaa.com</li>
        <li><i class="fa fa-phone"></i> Phone: +123 456 7890</li>
        <li><i class="fa fa-map-marker"></i> Address: City, Country</li>
      </ul>
    </div>
    <button class="button">Edit Profile</button>
  </div>
  <br /><br /><br /><br /><br /><br />
</html>
