<body class="body">
    <div class="con">
        <form action="#" id="form-info">
            <h2>Add a new category service</h2>
            <div class="input-space" id="name">
                <input type="text" required placeholder="Name">
                <span class="span-lable">Name</span>
            </div>

            <div class="input-space" id="name">
                <input type="file" required placeholder="Name">
                <span class="span-lable">Background Image</span>
            </div>

            
            <br>
            <button type="submit" class="button-sub">
                Create <i class="fas fa-plus"></i>
            </button>
        </form>
    </div>
</body>