<header class="masthead">
  <div class="container">
    <div class="col-lg-8 align-self-end">
      <h1 style="font-size: 40px">Welcome to the Juice Scheduled Services website</h1>
      <hr class="divider" />
    </div>
    <p class="text-white-75 mb-5">
      We offer you the ability to book an appointment suitable for your
      needs..!
    </p>
    <br />
    <h2>
      Let's get started...!
    </h2>
    <br /><br />
    <div class="d-flex justify-content-center">
      <a [routerLink]="['/login']" class="btn btn-primary btn-xl mx-2">
        Login/ Sign in
      </a>
      <a [routerLink]="['/sector']" class="btn btn-primary btn-xl mx-2">
        Start As Guest
      </a>
    </div>
  </div>
</header>