* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  margin: 10px;
}

.masthead {
  background: linear-gradient(to bottom,
      rgba(92, 77, 66, 0.8) 0%,
      rgba(92, 77, 66, 0.8) 100%),
    url(/img/BackgroundWebsite.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  margin: -10px;
  position: relative;
}

.container {
  max-width: 600px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff5722;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2rem;
  border-color: #e64a19;
}

.btn:hover {
  background-color: #e64a19;
  border: 1px solid #fb3c02;
}

hr.divider {
  height: 0.2rem;
  margin: 1.5rem auto;
  background-color: #f4623a;
  opacity: 1;
  width: 7rem;
}

.btn-l {
  padding: 1.5rem 2.5rem;
  font-size: 1.2rem;
  font-weight: 800;
  border-radius: 10rem;
}

.text-white-75 {
  color: rgba(255, 255, 255, 0.75);
  font-size: 18px;
  line-height: 1.5;
  opacity: 0.9;
  margin-bottom: 20px;
}