<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 style="color: #e4ddd7;" class="font-weight-bold">Welcome to the Juice Scheduled Services website
                </h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5">
                    We offer you the ability to book an appointment suitable for your needs..!
                </p>
                <p class="text-white-75 mb-5">
                    To browse our available services, click Let's get started...!
                </p>
                <div class="d-flex justify-content-center">
                    <a class="btn btn-primary btn-xl mx-2" style="transform: scale(1.25); text-transform: none;">
                        Let's get started
                    </a>
                </div>

            </div>
        </div>
    </div>
</header>
<app-login></app-login>


