<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Juice Scheduled Services</title>
  </head>
  <body>
    <header class="masthead">
      <div class="container">
        <div class="col-lg-8 align-self-end">
          <h1 style="font-size: 40px">Welcome to the Juice Scheduled Services website</h1>
          <hr class="divider" />
        </div>
        <p class="text-white-75 mb-5">
          We offer you the ability to book an appointment suitable for your
          needs..!
        </p>
        <br />
        <p class="text-white-75 mb-5">
          Let's get started...!
        </p>
        <br /><br />
        <div class="d-flex justify-content-center">
          <a [routerLink]="['/login']" class="btn btn-primary btn-xl mx-2">
            Login/ Sign in
          </a>
          <a [routerLink]="['/login']" class="btn btn-primary btn-xl mx-2">
            Start As Guest
          </a>
        </div>
      </div>
    </header>
  </body>
</html>
