* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

body::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: url(/img/BackgroundWebsite.jpg) no-repeat center center;
    background-size: cover;
    filter: blur(8px);
    z-index: -1;
}

.container {
    width: 415px;
    border-radius: 9px;
    padding: 32px;
    text-align: center;
    border: 2px solid rgb(188, 185, 185);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}

form {
    display: flex;
    flex-direction: column;
    max-height: 700px;
    overflow-y: auto; /* تغيير إلى auto للسماح بالتمرير إذا لزم الأمر */
}

h2 {
    font-size: 2rem;
    margin-bottom: 19px;
    color: white;
}

.input-space {
    position: relative;
    border-bottom: 3px solid white;
    margin: 14px 0;
}

.span-lable {
    color: #f0f0f0;
    font-style: italic;
    font-size: 20px;
}

.input-space input {
    width: 100%;
    height: 41px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background: #100000;
    color: #ffffff;
    font-weight: 600;
    border: none;
    padding: 11px 19px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
    transition: 0.3s ease;
}

button:hover {
    color: #ffffff;
    background: rgb(32, 30, 30);
}

#col-wid {
    width: 48%;
}

#form-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#fullname {
    width: 100%;
    margin-bottom: 15px;
}

#page-register {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

input::placeholder {
    color: white;
    opacity: 0.7;
}
