<body>
    <div class="container" id="page-register">
        <form action="#" id="form-register">
            <h2 style="text-align: center;">Register</h2>
            <h2 style="text-align: center;">Account owner</h2>

            <!-- حقل Full Name يمتد عبر العمودين -->
            <div class="input-space" id="fullname">
                <input type="text" required placeholder="Full Name">
                <span class="span-lable">Full Name</span>
            </div>
            <!-- تقسيم المدخلات إلى عمودين -->
            <div class="form-columns" id="form-info">
                <div class="column" id="col-wid">
                    <div class="input-space input-info">
                        <input type="datetime-local" required>
                        <span class="span-lable"> Date of birth</span>
                    </div>
                    <div class="input-space input-info">
                        <input type="text" required placeholder="Phone number">
                        <span class="span-lable">Phone number</span>
                    </div>
                    <div class="input-space input-info">
                        <input type="text" required placeholder="Site">
                        <span class="span-lable">Site</span>
                    </div>
                    <div class="input-space input-info">
                        <input type="file" required>
                        <span class="span-lable">Img personal identity</span>
                    </div>
                    <div class="input-space input-info">
                        <input type="file" required>
                        <span class="span-lable">Img work identity</span>
                    </div>
                </div>
                <div class="column" id="col-wid">
                    <div class="input-space input-info">
                        <input type="file" required>
                        <span class="span-lable">CV</span>
                    </div>
                    <div class="input-space input-info">
                        <input type="email" required placeholder="Gmail">
                        <span class="span-lable">Gmail</span>
                    </div>
                    <div class="input-space input-info">
                        <input type="text" required placeholder="Username">
                        <span class="span-lable">Username</span>
                    </div>
                    <div class="input-space input-info">
                        <input type="password" required placeholder="Password">
                        <span class="span-lable">Password</span>
                    </div>
                    <div class="input-space input-info">
                        <input type="password" required placeholder="Confirm password">
                        <span class="span-lable">Confirm password</span>
                    </div>
                </div>
            </div>
            <br>
            <button type="submit">Register</button>
        </form>
    </div>
















</body>