<body>
    <div class="container">
        <header class="profile-header">
            <h1>Nouri Esaa Gabas</h1>
            <p>
                <i class="fas fa-industry"></i>
                Medical
            </p>
            <p>
                <i class="fas fa-tags"></i>
                Dentistry
            </p>
        </header>
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td>Sector</td>
                    <td>Medical</td>
                </tr>
                <tr>
                    <td>Category Service</td>
                    <td>Dentistry</td>
                </tr>
                <tr>
                    <td>Owner Service</td>
                    <td>Ahmad Ahmad</td>
                </tr>
                <tr>
                    <td id="td-align">Description</td>
                    <td id="td-center">
                        qualityqualityqualityqualityqualityqualityqu
                        alityqualityqualityqualityqualityqualit
                        yqualityqualityqualityqualityqualityqualityqual
                        ityqualityqualityqualityqualityqualityqualityqualit
                        yqualityqualityqualityqualityqualityqualityqualityqualityqualityq
                        ualityqualityqualityqualityqualityqualityqualityqualityqualityqualityqu
                        alityqualityqualityqualityqualityqualityqualityqualityqualityqualityquali
                        tyqualityqualityqualityqualityqualityqualityqualityqualityqualityqualityqual
                        dental care</td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td>Syria / Idleb</td>
                </tr>
            </tbody>
        </table>
        <br>
        <br>
        <br>


        <header class="profile-header">
            <h1 id="appointments-title">
                Appointments
                <i class="fas fa-calendar-alt"></i>
            </h1>
        </header>
        <table class="table-hover" id="equal-column-width">
            <tbody>
                <tr>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                    <th>Sun</th>
                </tr>
                <tr>
                    <td>10:10 am</td>
                    <td>10:10 am</td>
                    <td>10:10 am</td>
                    <td>10:10 am</td>
                    <td>10:10 am</td>
                    <td>10:10 am</td>
                    <td>10:10 am</td>

                </tr>
                <tr>
                    <td>10:10 am</td>
                    <td>10:10 am</td>
                    <td>10:10 am</td>
                    <td>10:10 am</td>
                    <td>10:10 am</td>
                    <td>10:10 am</td>
                    <td>10:10 am</td>

                </tr>
                <tr>
                    <td>10:10 am</td>
                    <td>10:10 am</td>
                    <td>10:10 am</td>
                    <td>10:10 am</td>
                    <td>10:10 am</td>
                    <td>10:10 am</td>
                    <td>10:10 am</td>


                </tr>
                <tr>
                    <td>10:10 am</td>
                    <td>10:10 am</td>
                    <td>10:10 am</td>
                    <td>10:10 am</td>
                    <td>10:10 am</td>
                    <td>10:10 am</td>
                    <td>10:10 am</td>

                </tr>
                <tr>
                    <td>10:10 am</td>
                    <td>10:10 am</td>
                    <td>10:10 am</td>
                    <td>10:10 am</td>
                    <td>10:10 am</td>
                    <td>10:10 am</td>
                    <td>10:10 am</td>

                </tr>

            </tbody>
        </table>













        <br>
        <br>
        <br>


        <header class="profile-header">
            <h1>
                Reservation
                <i class="fas fa-calendar-check"></i>
            </h1>
        </header>
        <div class="table-reservation">
            <div class="date">
                <h2>27/3/2002</h2>
                <ul>
                    <li>10:10 AM</li>
                    <li>11:10 AM</li>
                    <li>12:10 PM</li>
                </ul>
            </div>
            <div class="date">
                <h2>28/3/2002</h2>
                <ul>
                    <li>10:10 AM</li>
                    <li>11:10 AM</li>
                    <li>12:10 PM</li>
                </ul>
            </div>
        </div>



        <br>
        <br>
        <br>
        <a href="#" class="btn-custom">
            <i class="fa fa-arrow-left"></i>
            Back
          </a>
          
        


    </div>
</body>