<div class="container">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-12 px-0">
            <!--هنا سيتم وضع نوع القسم -->
            <h1 class="display-4 font-italic">type sector</h1>
            <!--هنا سيتم وضع وصف القطاع-->
            <p class="lead my-3">description sector.</p>
        </div>
    </div>
    
    <!-- تعديل عرض الجدول إلى col-md-12 لتوسيع المساحة -->
    <div class="col-md-12">
        <div class="row g-0">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Site</th>
                            <th>Evaluation</th>
                            <th>Book</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Nouri</td>
                            <td>Idleb</td>
                            <td>
                                <div class="stars">
                                    ★★★★☆
                                </div>
                            </td>
                            <td>
                                <button class="button reservation">
                                    <i class="fa fa-calendar" aria-hidden="true"></i> Book an appointment
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Nouri</td>
                            <td>Idleb</td>
                            <td>
                                <div class="stars">
                                    ★★★★☆
                                </div>
                            </td>
                            <td>
                                <button class="button reservation">
                                    <i class="fa fa-calendar" aria-hidden="true"></i> Book an appointment
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Nouri</td>
                            <td>Idleb</td>
                            <td>
                                <div class="stars">
                                    ★★★★☆
                                </div>
                            </td>
                            <td>
                                <button class="button reservation">
                                    <i class="fa fa-calendar" aria-hidden="true"></i> Book an appointment
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="button reservation">
                    <i class="fa fa-eye" aria-hidden="true"></i> View more
                </button>
            </div>
        </div>
    </div>
</div>
