<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <br>
                <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
                    <div class="col-md-6 px-0">
                        <h1 class="display-4 font-italic">Nouri Esaa Gabas</h1>

                        <p class="lead my-3">Work : dentist
                            <br>location : Syria,Idleb,Clock Square
                            <br>Phone : +963945254996
                            <br>Gmail: <a href="mailto:nouryman999@gmail.com">nouryman999gmail.com</a>

                        </p>

                    </div>
                </div>
                <p class="choose">Choose the period in which you want to
                    display the available times :)</p>
                <div class="custom-select-container">
                    <select class="custom-select">
                        <option value="1 day">1 day</option>
                        <option value="1 week">1 week</option>
                        <option value="1 month">1 month</option>
                    </select>
                </div>
                <br>

                <body class="form-time">

                    <h2 class="select-time">Choose the time that suits you .</h2>
                    <div class="radio-group">
                        <div class="section-title">AM</div>
                        <label class="custom-radio">
                            <input type="radio" name="appointment" value="10:00 AM">
                            <div class="radio-circle"></div>
                            <span>10:00 AM</span>
                        </label>
                        <label class="custom-radio">
                            <input type="radio" name="appointment" value="11:00 AM">
                            <div class="radio-circle"></div>
                            <span>11:00 AM</span>
                        </label>
                        <label class="custom-radio">
                            <input type="radio" name="appointment" value="12:00 PM">
                            <div class="radio-circle"></div>
                            <span>12:00 PM</span>
                        </label>
                    </div>
                    <br>
                    <div class="radio-group">
                        <div class="section-title">PM</div>
                        <label class="custom-radio">
                            <input type="radio" name="appointment" value="1:00 PM">
                            <div class="radio-circle"></div>
                            <span>30/9/2024 -- 5:00 PM</span>
                        </label>
                        <label class="custom-radio">
                            <input type="radio" name="appointment" value="2:00 PM">
                            <div class="radio-circle"></div>
                            <span>30/9/2024 -- 5:00 PM</span>
                        </label>
                        <label class="custom-radio">
                            <input type="radio" name="appointment" value="3:00 PM">
                            <div class="radio-circle"></div>
                            <span>30/9/2024 -- 5:00 PM</span>
                        </label>
                        <label class="custom-radio">
                            <input type="radio" name="appointment" value="4:00 PM">
                            <div class="radio-circle"></div>
                            <span>30/9/2024 -- 5:00 PM</span>
                        </label>
                        <label class="custom-radio">
                            <input type="radio" name="appointment" value="5:00 PM">
                            <div class="radio-circle"></div>
                            <span>30/9/2024 -- 5:00 PM</span>
                        </label>
                        <label class="custom-radio">
                            <input type="radio" name="appointment" value="6:00 PM">
                            <div class="radio-circle"></div>
                            <span>30/9/2024 -- 5:00 PM</span>
                        </label>
                        <label class="custom-radio">
                            <input type="radio" name="appointment" value="7:00 PM">
                            <div class="radio-circle"></div>
                            <span>30/9/2024 -- 5:00 PM</span>
                        </label>
                    </div>
                </body>
                <br>
                <p class="choose">Also display the available times on a
                    date that suits you
                    Choose the date that suits you :)
                </p>
                <br>
                <input type="date" class="date-input">
            </div>
            <div class="form-time">
                <h2 class="select-time">Choose the time that suits you .</h2>
                <div class="radio-group">
                    <div class="section-title">AM</div>
                    <label class="custom-radio">
                        <input type="radio" name="appointment" value="10:00 AM">
                        <div class="radio-circle"></div>
                        <span>10:00 AM</span>
                    </label>
                    <label class="custom-radio">
                        <input type="radio" name="appointment" value="11:00 AM">
                        <div class="radio-circle"></div>
                        <span>11:00 AM</span>
                    </label>
                    <label class="custom-radio">
                        <input type="radio" name="appointment" value="12:00 PM">
                        <div class="radio-circle"></div>
                        <span>12:00 PM</span>
                    </label>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>












<footer>
    <br>
</footer>