<body>
    <div class="container">
        <form action="#">
            <h2>login</h2>
            <div class="input-space">
                <input type="text" required>
                <label for="Enter your email"></label>
            </div>
            <div class="input-space">
                <input type="password" required>
                <label for="Enter your password"></label>
            </div>
            <div class="IsOwner">
                <label for="OwnerAccount">
                    <input type="checkbox" id="OwnerAccount">
                    <p>
                        Owner Account
                    </p>
                </label>
                <a href="#">forgot password</a>
            </div>
            <button type="submit">login</button>
            <div class="register">
                <p>
                    Don't have an account? k 
                    <a href="#">Register</a>
                </p>
            </div>
        </form>
    </div>
</body>