<body>
    <div class="container">
        <br>
        <div class="nav-scroller py-1 mb-2">
            <nav class="nav d-flex justify-content-between">
                <a class="p-2 link-secondary" href="#">World</a>
                <a class="p-2 link-secondary" href="#">U.S.</a>
                <a class="p-2 link-secondary" href="#">Technology</a>
                <a class="p-2 link-secondary" href="#">Design</a>
                <a class="p-2 link-secondary" href="#">Culture</a>
                <a class="p-2 link-secondary" href="#">Business</a>
                <a class="p-2 link-secondary" href="#">Politics</a>
                <a class="p-2 link-secondary" href="#">Opinion</a>
                <a class="p-2 link-secondary" href="#">Science</a>
                <a class="p-2 link-secondary" href="#">Health</a>
                <a class="p-2 link-secondary" href="#">Style</a>
                <a class="p-2 link-secondary" href="#">Travel</a>
            </nav>
        </div>
        <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
                <!--هنا سيتم وضع نوع القسم -->
                <h1 class="display-4 font-italic">type sector</h1>
                <!--هنا سيتم وضع وصف القطاع-->
                <p class="lead my-3">description sector.</p>
            </div>
        </div>
        <!-- صف جديد يحتوي على عمودين -->
        <div class="row mb-2">
            <!-- العمود الأول -->
            <div class="col-md-6">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static" style="height: 200px; overflow-y: auto;">
                        <strong class="d-inline-block mb-2 text-primary">sector</strong>
                        <h3 class="mb-0">category service</h3>
                        <br>
                        <p class="card-text mb-auto">description for category service
                        </p>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="assets/images/1.jpg" alt="Thumbnail" width="200" height="250"
                            class="bd-placeholder-img">
                    </div>
                </div>
            </div>

            <!-- العمود الثاني -->
            <div class="col-md-6">
                <div class="row g-0">
                    <div class="col-md-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Site</th>
                                    <th>Evaluation</th>
                                    <th>Book</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Nouri</td>
                                    <td>Idleb</td>
                                    <style>
                                        .stars {
                                            font-size: 24px;
                                            color: gold;
                                        }
                                    </style>
                                    <td>
                                        <div class="stars">
                                            ★★★★☆
                                        </div>
                                    </td>
                                    <td>
                                        <button class="button reservation">
                                            <i class="fa fa-calendar" aria-hidden="true"></i> Book an appointment
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Nouri</td>
                                    <td>Idleb</td>
                                    <td>
                                        <div class="stars">
                                            ★★★★☆
                                        </div>
                                    </td>
                                    <td>
                                        <button class="button reservation">
                                            <i class="fa fa-calendar" aria-hidden="true"></i> Book an appointment
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Nouri</td>
                                    <td>Idleb</td>
                                    <td>
                                        <div class="stars">
                                            ★★★★☆
                                        </div>
                                    </td>
                                    <td>
                                        <button class="button reservation">
                                            <i class="fa fa-calendar" aria-hidden="true"></i> Book an appointment
                                        </button>
                                    </td>
                                </tr>
                            </tbody>


                        </table>
                        <button class="button reservation">
                            <i class="fa fa-eye" aria-hidden="true"></i> View more
                        </button>

                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <hr>
        <br>
        <br>
        <br>

        <!-- صف جديد يحتوي على عمودين -->
        <div class="row mb-2">
            <!-- العمود الأول -->
            <div class="col-md-6">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static" style="height: 200px; overflow-y: auto;">
                        <strong class="d-inline-block mb-2 text-primary">medical</strong>
                        <h3 class="mb-0">Dentistry</h3>
                        <br>
                        <p class="card-text mb-auto">
                            The dental sector specializes in the diagnosis and treatment of oral and dental diseases,
                            and includes
                            preventive and surgical care such as dental fillings, orthodontics, and gum surgery. This
                            sector
                            contributes to enhancing oral health by preventing caries and gum diseases and improving
                            quality of life.
                            The dental sector provides critical services to communities, addressing issues from minor
                            cavities
                            to complex surgeries. Specialists in this field play a vital role in maintaining overall
                            public health.
                        </p>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="assets/images/1.jpg" alt="Thumbnail" width="200" height="250"
                            class="bd-placeholder-img">
                    </div>
                </div>
            </div>


            <!-- العمود الثاني -->
            <div class="col-md-6">
                <div class="row g-0">
                    <div class="col-md-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Site</th>
                                    <th>Evaluation</th>
                                    <th>Book</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Nouri</td>
                                    <td>Idleb</td>
                                    <td>
                                        <div class="stars">
                                            ★★★★☆
                                        </div>
                                    </td>
                                    <td>
                                        <button class="button reservation">
                                            <i class="fa fa-calendar" aria-hidden="true"></i> Book an appointment
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Nouri</td>
                                    <td>Idleb</td>
                                    <td>
                                        <div class="stars">
                                            ★★★★☆
                                        </div>
                                    </td>
                                    <td>
                                        <button class="button reservation">
                                            <i class="fa fa-calendar" aria-hidden="true"></i> Book an appointment
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Nouri</td>
                                    <td>Idleb</td>
                                    <td>
                                        <div class="stars">
                                            ★★★★☆
                                        </div>
                                    </td>
                                    <td>
                                        <button class="button reservation">
                                            <i class="fa fa-calendar" aria-hidden="true"></i> Book an appointment
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Nouri</td>
                                    <td>Idleb</td>
                                    <td>
                                        <div class="stars">
                                            ★★★★☆
                                        </div>
                                    </td>
                                    <td>
                                        <button class="button reservation">
                                            <i class="fa fa-calendar" aria-hidden="true"></i> Book an appointment
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Nouri</td>
                                    <td>Idleb</td>
                                    <td>
                                        <div class="stars">
                                            ★★★★☆
                                        </div>
                                    </td>
                                    <td>
                                        <button class="button reservation">
                                            <i class="fa fa-calendar" aria-hidden="true"></i> Book an appointment
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <br>





    </div>
    <footer class="blog-footer" style="margin: 0px;">
        <p>These are all the departments in this sector --- medical, for example ---</p>
        <p>
            <a href="#">Back to sections</a>
        </p>
    </footer>
</body>