<body>
    <div class="container">
        <header class="profile-header">
            <h1>Nouri Esaa Gabas</h1>
            <p>
                <i class='fas fa-user'></i>
                Username: nouri023
            </p>
            <p>
                <i class='fas fa-calendar-alt'></i>
                Date of birth: 1/1/1998
            </p>
            <p>
                <i class='fas fa-phone'></i>
                Phone: +9635425896
            </p>
            <p>
                <i class='fas fa-envelope'></i>
                <!--
                &#64
                تستخدم لاظهار رمز 
                @
                -->
                Email: <a href="mailto:noury@example.com" id="emailstyle">nouryman999&#64;gmail.com</a>
            </p>
        </header>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Sector</th>
                    <th>Service</th>
                    <th>Evaluation</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Medical</td>
                    <td>dentistry</td>

                    <td>
                        <div class="stars">
                            ★★★★☆
                        </div>
                    </td>
                    <td>
                        <button class="button reservation">
                            <i class="fas fa-edit"></i>
                            Edit
                        </button>
                    </td>
                    <td>
                        <button class="button reservation">
                            <i class="fa fa-info-circle" aria-hidden="true"></i> View details
                        </button>
                    </td>
                    <td>
                        <button class="button reservation">
                            <i class="fas fa-trash-alt"></i>
                            Remove
                        </button>

                    </td>



                </tr>
                <tr>
                    <td>2</td>
                    <td>Medical</td>
                    <td>dentistry</td>
                    <td>
                        <div class="stars">
                            ★★★★☆
                        </div>
                    </td>

                    <td>
                        <button class="button reservation">
                            <i class="fas fa-edit"></i>
                            Edit
                        </button>
                    </td>
                    <td>
                        <button class="button reservation">
                            <i class="fa fa-info-circle" aria-hidden="true"></i> View details
                        </button>
                    </td>
                    <td>
                        <button class="button reservation">
                            <i class="fas fa-trash-alt"></i>
                            Remove
                        </button>

                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Medical</td>
                    <td>dentistry</td>
                    <td>
                        <div class="stars">
                            ★★★★☆
                        </div>
                    </td>

                    <td>
                        <button class="button reservation">
                            <i class="fas fa-edit"></i>
                            Edit
                        </button>
                    </td>
                    <td>
                        <button class="button reservation">
                            <i class="fa fa-info-circle" aria-hidden="true"></i> View details
                        </button>
                    </td>
                    <td>
                        <button class="button reservation">
                            <i class="fas fa-trash-alt"></i>
                            Remove
                        </button>

                    </td>
                </tr>
            </tbody>
        </table>
        <button class="button reservation">
            <i class="fas fa-arrow-left"></i> back
        </button>
        <br>

    </div>
</body>